<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/CanteenBill.js"></script>


<div class="container">
    <h2>Canteen Bills</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearTextBox();">New Bill</button><br /><br />
    <table class="table table-dark ">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Item Code
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Date of Billing
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Bill</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Id" placeholder="Code" @*style="display:none;"*@ />
                    </div>

                    <div class="form-group">
                        <label for="code">Item Code</label>
                        <input type="text" class="form-control" id="code" placeholder="Code" />
                    </div>
                    <div class="form-group">
                        <label for="student">Student Name</label>
                        <input type="text" class="form-control" id="student" placeholder="Student" />
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="text" class="form-control" id="quantity" placeholder="Quantity" />
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="text" class="form-control" id="amount" placeholder="Amount" />
                    </div>
                    <div class="form-group">
                        <label for="dob">Date of Billing</label>
                        <input type="text" class="form-control" id="dob" placeholder="Enter Date (MM/DD/YYYY)" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
            <li>@Html.ActionLink("Canteen Inventory", "canteenInventory", "Home")</li>

        </div>
    </div>
</div>

